#content {
  min-height: 100vh;
  width: 100%;
  margin-top: 150px;
}

.artist-slide {
  height: 100vh;
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: center;
}
