 .circleContainer {
     margin: auto;
     margin-top: 40px;
     position: relative;
     width: 180px;
     height: 180px;
     display: flex;
     justify-content: center;
     align-items: center;
     cursor: pointer;
 }

 .spinningText {
     animation: spinText 10s linear infinite;
     -webkit-animation: spinText 10s linear infinite;
     transform-origin: center;
}

 .arrowContainerVertical {
     position: absolute;
     top: 50%;
     left: 50%;
     animation: moveArrow 1s linear infinite;
     -webkit-animation: moveArrow 1s linear infinite;
 }

 @keyframes spinText {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

 @keyframes moveArrow {
     from {
         transform: translate(-50%, -75%);
         -webkit-transform: translate(-50%, -75%);
         -moz-transform: translate(-50%, -75%);
         -ms-transform: translate(-50%, -75%);
         -o-transform: translate(-50%, -75%);
     }

     to {
         transform: translate(-50%, -50%);
         -webkit-transform: translate(-50%, -50%);
         -moz-transform: translate(-50%, -50%);
         -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
     }
 }