.hero-banner {
  margin: 150px 0 61px;
  background: url('../../assets/hero/banner.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 212px;
}
