.social-container {
    position: absolute;
    display: flex;
    gap: 47px;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: -1;

    img {
        cursor: pointer;
        padding: 5px;
        transition:
            filter 0.2s ease,
            transform 0.3s ease;
        -webkit-transition:
            filter 0.2s ease,
            transform 0.3s ease;
        -moz-transition:
            filter 0.2s ease,
            transform 0.3s ease;
        -ms-transition:
            filter 0.2s ease,
            transform 0.3s ease;
        -o-transition:
            filter 0.2s ease,
            transform 0.3s ease;

        &:hover {
            filter: brightness(.1) contrast(1.2) saturate(0) invert(1);
            transform: scale(1.05);
            -webkit-filter: brightness(.1) contrast(1.2) saturate(0) invert(1);
        }
    }
    div {
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
    }
}